html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    font-family: Arial, Segoe UI:, sans-serif;
    color: #1c1c1e;
	min-width: 100vw;
    overflow-x: hidden;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    color: #1c1c1e;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 10;
    transition: width 0.3s ease;
    overflow-y: auto;
    border-right: 1px solid #d1d1d6;
}

.sidebar .box {
    padding: 12px;
    margin: 10px;
    background-color: #d7d7e0;
    color: #1c1c1e;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.sidebar .box:hover {
    background-color: #e5e5ea;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
	font-size: min(16px, 1vw);
}

.topbar {
    background-color: #d7d7e0;
    color: #1c1c1e;
    padding: 12px;
    text-align: center;
    position: relative;
    z-index: 5;
    border-bottom: 1px solid #d1d1d6;
}

.topbar .box {
    display: inline-block;
    margin: 5px 15px;
    padding: 10px;
    background-color: #ffffff;
    color: #1c1c1e;
    border-radius: 10px;
    border: 1px solid #d1d1d6;
}

.main-container {
    margin-left: 60px;
    padding: 20px;
}

.flexbox {
    background-color: #ffffff;
    flex: 1;
    padding: 5%;
    border: 1px solid #d1d1d6;
    border-radius: 10px;
    text-align: center;
    min-height: 10%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    white-space: normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flexbox:focus {
    outline: 2px solid #007aff;
}



@media (max-width: 768px) {
    .sidebar {
        width: 200px;
		min-width: 200px; 
		font-size: min(16px, 1vw)

    }

    .main-container {
        margin-left: 200px;
        padding: 10px;
    }

    .flexbox {
        width: 100%;
        padding: 5%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 10px;

    }

    .topbar .box {
        display: block;
        margin: 10px 0;
    }

    .main-container {
        margin-left: 0;
        padding: 10px;
    }

    .flexbox {
        width: 100%;
        margin-left: 0;
        padding: 5%;
    }
}

@media (max-width: 1024px) {

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 10px;
		min-height: 60px;
		min-width: 150px;
    }

    .topbar .box {
        display: block;
        margin: 10px 0;
    }

    .main-container {
        margin-left: 0;
        padding: 10px;
    }

    .flexbox {
        width: 100%;
        margin-left: 0;
        padding: 5%;
    }
} 